
@media screen and (min-width: 2561px) {
    section {
      scroll-margin-top: 6.25rem;
    }

    .container {
      max-width: 160rem;
      width: 100%;
    }

    p, a {
      font-size: 1.25rem;
    }

    * h1 {
      font-size: 4.25rem;
    }

    * h2 {
      font-size: 3.75rem;
    }

    * h3 {
      font-size: 3rem;
    }

    * h4 {
      font-size: 2.5rem;
    }

    * h5 {
      font-size: 2.1rem;
    }

    * h6 {
      font-size: 1.5rem;
    }

    .navbar-nav .nav-item .nav-link {
      font-size: 1.5rem;
    }

    .navbar-active {
      color: var(--brand-color);
      font-weight: 700;
      letter-spacing: .15rem;
    }

    .hero {
      padding: 16rem 0px;
    }

    .hero-text {
      padding-top: 15rem;
    }

    .about img {
      margin: 3rem 0 0 10rem;
      max-width: 45%;
      height: auto;
      border-radius: 25% 25%;
    }

    .vertical-center {
      min-height: 100%;
      min-height: 100vh;

      display: flex;
      align-items: center;
      transform: translateY(-10vh);
    }

    .about {
      padding: 5rem 14rem 10rem;
    }

    .projects {
      padding: 5rem 14rem 10rem;
    }

    .experience {
      padding: 5rem 14rem 10rem;

    }

    .testimonials {
      padding: 5rem 14rem 10rem;
    }

    .experience .carousel-inner {
      min-height: 905px;
    }

    .experience-text p {
      padding: 0 7% 0 7%;
    }

    .skills {
      padding: 5rem 14rem 10rem;
    }

    .skills .carousel-inner{
      padding: 10rem 7rem;
    }

    .skills .card{
      min-height: 400px;
    }
    .skills .card .card-img-top{
      margin: 5%;
      width: 80%;
    }

    .skills .card .row{
      min-height: 400px;
      align-items: center;
      padding: 2%;
    }

    button i{
      font-size: 20px;
    }

    .testimonial {
      padding: 5rem 14rem 10rem;
    }

    .contact label, input[type="text"], input[type="email"], input[type="tel"], textarea{
      font-size: 1.5rem;
    }

    .testimonials label, input[type="text"], input[type="email"], input[type="tel"], textarea{
      font-size: 1.5rem;
    }

    .testimonial label, input[type="text"], input[type="email"], input[type="tel"], textarea, input[type="url"]{
      font-size: 1.5rem;
    }

    .testimonials span{
      font-size: 2rem;
      font-weight: 600;
      margin-top: .938rem;
      color: var(--brand-color);
    }

    .testimonials blockquote {
      padding: 2%;
      font-size: 1.5rem;
    }
  }

  @media screen and (max-width: 991px) {
    #back-to-top-btn {
      visibility: hidden;
    }

    section {
      scroll-margin-top: 6rem;
    }

    .hero .btn-floating {
      display: none;
    }

    .btn-floating {
        font-size: 25px;
      }

    .custom-button {
      margin-left: 0;
      font-size: 14px;
    }

    .container{
      min-width: 100%;
    }

    h1 {
      font-size: 2.0rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1rem;
    }

    body {
      text-align: center;
    }

    h3 {
      margin: 0;
    }

    .bg{
      width: 100%;
    }

    .offcanvas{
      display: inline;
    }

    .hero {
      padding: 0px;
    }

    .hero {
      font-size: 55px;
    }

    .hero-text,
    .project-card-text {
      padding: 42px 0px;
    }

    .vertical-center {
      min-height: 100%;
      min-height: 100vh;

      display: flex;
      align-items: center;
      transform: translateY(-10vh);
    }

    .about {
      padding: 56px 0;
    }

    .about-text {
      padding: 0;
    }

    .skills {
      padding: 56px 0;
    }

    .skills-text {
      padding: 24px 24px 0 24px;
    }

    .skills .carousel-inner{
      padding: 0;
    }

    .project-card {
      padding: 42px 0;
    }

    .search{
      width: 100%;
      margin: 0;
    }

    .search .search-icon, .search .clear-icon{
      visibility: hidden;
    }

    .contact {
      padding: 56px 0;
    }

    .contact-email a {
      padding: 32px 136px;
      background-color: var(--brand-col);
      border-radius: 52px;
    }

    .experience .carousel-inner {
      min-height: 1480px;
    }

    .testimonials .profile {
      margin: 1rem;
      min-height: 500px;
      max-height: 500px;
    }
  }

  @media screen and (max-width: 641px) {
    section {
      scroll-margin-top: 6.25rem;
    }

    .btn-floating {
        font-size: 15px;
      }

    .logo a {
      font-size: 1.25rem;
      align-items: center;
      margin-bottom: 0;
    }

    #DI-Logo{
      display: none;
    }

    .container{
      min-width: 100%;
      padding-bottom: 24px;
    }

    .content p {
      margin-bottom: 1.3rem;
    }

    body {
      font-size: 16px;
    }

    img {
      padding: 0 64px;
    }

    h1 {
      font-size: 44px;
    }

    h3 {
      font-size: 23px;
      margin: 24px;
    }

    h5 .two{
      font-size: 28px;
    }

    h5 {
      font-size: 18px;
    }

    h6 {
      margin: 0;
    }

    .hero {
      padding: 0;
    }

    .hero .container .row{
      margin-top: 2rem;
    }

    .hero img {
      max-width: 100%;
    }

    .about {
      padding: 32px 0;
    }

    .about a {
      padding: 12px 36px;
      border-radius: 32px;
    }

    .experience {
        padding: 0;
        margin: 0 1rem;
    }

    .experience .carousel-inner{
        min-height: fit-content;
        max-height: max-content;
    }

    .skills .carousel-inner{
      padding: 5rem 3rem;
    }

    .projects, .projects-page {
        padding: 0;
        padding-bottom: 2rem;
    }

    .projects-page-body{
      font-size: 12px;
    }

    .project-text{
      padding-top: 3.5rem;
    }

    .testimonials {
        padding: 0;
        padding-bottom: 2rem;
    }

    .testimonials .profile{
        min-height: 550px;
        max-height: 550px;
    }

    .projects .projects-container {
        margin-top: 10px;
    }

    .projects-container .card {
        margin: .5rem;
        width: 100%;
    }

    .contact {
        padding: 24px 0;
      }

      .contact-email a {
        padding: 16px 56px;
        background-color: var(--brand-col);
        border-radius: 52px;
      }

    footer {
      display: block;
      padding: 0;
    }
  }

  @media screen and (max-width: 400px) {
    .hero .container .row{
      margin-top: 1.5rem;
    }

    footer div {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
    }
  }
