:root {
  --brand-color: #0A7ABF;
  --brand-color-dark: #527eaa;
  /*#154C7A; C4D7E7 */
  --accent-color-1: #7A94A9;
  --accent-color-2: #537B9B;
  --bg-color: #F7F7F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

.bg {
  width: 100%;
  background-color: var(--bg-color);
}

.btn-floating {
  opacity: .55;
  padding-right: 1rem;
  font-size: 30px;
}

.btn-floating:hover{
  opacity: 1;
  transition: ease .5s;
}

.david-logo{
  max-width: 8%;
  height: auto;
  float: left;
  padding: 0%;
}

.custom-button {
  background-color: var(--brand-color-dark);
  margin-left: 4rem;
  padding: 16px 60px;
  border-radius: 32px;
  color: black;
  min-width: 10%;
}

.custom-button:hover {
  background-color: var(--brand-color);
  color: white;
  transition: ease-in .25s;
}

#home, #about, #experience, #skills, #projects, #testimonials, #contact {
  scroll-margin-top: 80px;

}

/*----------------------------------- Navigation -----------------------------------*/
header{
  display: flex;
  max-height: 80px;
}

.navbar {
  background-color: transparent;
  padding: .5%;
}

.logo a {
  font-size: 2.5rem;
  color: darkgrey;
  font-weight: 500;
  letter-spacing: .5rem;
}

.navbar .navbar-brand {
  color: black;
}

.navbar-nav {
  justify-content: center;
}

.navbar-nav .nav-item {
  margin: 0 1rem;
  min-width: max-content;
}

.navbar-nav .nav-item .navbar-active {
  color: var(--brand-color);
  font-weight: 700;
  letter-spacing: .15rem;
}

.navbar-nav .nav-item .nav-link {
  /*color: darkgrey;*/
  font-size: 1rem;
}

.navbar-nav .nav-item .nav-link:hover {
  color: black;
  font-weight: 700;
  letter-spacing: .15rem;
  transition: ease-in-out 100ms;
}

.window-scroll{
  position: fixed;
  width: 100%;
	background: white;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: ease-in-out .5s;
}

.offcanvas{
  display: none;
}

.offcanvas{
  opacity: .8;
}

.offcanvas-body .navbar-nav .nav-item .nav-link {
  color: rgb(52, 52, 52);
  font-size: 1rem;
}

.scrolldown {
  position: absolute;
  bottom: .5rem;
  left: 50%;
  right: 50%;
  width: 1rem;
  height: 1rem;
  transform: translateY(-120px) translateX(-10px) rotate(45deg);
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 4px solid darkgrey;
  border-right: 4px solid darkgrey;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1){
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
  transform: translate(15px, 15px);
  animation-delay: -0s;
}

@keyframes animate{
  0%{
    top: -5%;
    left: -5%;
    opacity: 0;
  }
  25%{
    top: 0%;
    left: 0%;
    opacity: 1;
  }
  50%,100%{
    top: -5%;
    left: -5%;
    opacity: 0;
  }

}

.scrolldown:hover{
  cursor: pointer;
}

.scrolldown button{
  background: white;
}

/*----------------------------------- Landing -----------------------------------*/
.container {
  min-width: 499px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.hero {
  padding: 8rem 0px;
  min-width: 100%;
  min-height: 100vh;
}

.img-fluid {
  max-width: 75%;
  height: auto;
  border-radius: 50% 50%;
  opacity: .8;
}

.hero-text {
  padding-top: 6rem;
}

.hero-text .h1 {
  font-size: 3rem;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  transform: translateY(-10vh);
}

.two {
  line-height: 1;
}

@keyframes wipe-in-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

.one {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
}

.two {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  animation-delay: .35s;
}

.three {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  animation-delay: .65s;
}

.four {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  animation-delay: .95s;
}

.five {
  animation: 1s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  animation-delay: 1.15s;
  margin-bottom: 50px;
}

/*----------------------------------- About -----------------------------------*/
.about {
  padding: 1rem 7rem 8rem;

}

.about h5 {
  font-weight: 700;
}

.about img {
  margin: 3rem 0 0 0;
  max-width: 65%;
  height: auto;
  border-radius: 25% 25%;
  filter: grayscale(50%);
  opacity: 0.8;
}

.about img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: ease-in .5s;
}

.about-text {
  padding-top: 7.5rem;
  padding-right: 3.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.about a {
  background-color: var(--accent-color-2);
  padding: 16px 40px;
  border-radius: 32px;
  color: black;
}

.about a:hover {
  background-color: var(--brand-color);
  padding: 16px 40px;
  border-radius: 32px;
  color: white;
  transition: ease-in .5s;
}

/*----------------------------------- Experience -----------------------------------*/

.experience {
  padding: 3rem 7rem;

}

.experience h5 {
  font-weight: 700;
}

.experience-text {
  padding-top: 7.5rem;
  padding: 7rem;
  text-align: center;
}

.experience-text p {
  padding: 0 5% 0 5%;
}

.experience .carousel-inner {
  min-height: 650px;
}

/*----------------------------------- Skills -----------------------------------*/
.skills {
  padding: 1rem 5rem 5rem;

}

.skills h5 {
  font-weight: 700;
}

.skills-text {
  padding-top: 7.5rem;
  padding-right: 3.5rem;
}

a {
  color: black;
  text-decoration: none;
}

.skills a {
  background-color: var(--brand-color);
  padding: 16px 40px;
  border-radius: 32px;
}

.card {
  width: fit-content;
  min-height: 500px;
}

.skills .carousel-inner {
  padding: 10rem 7rem;
}

.skills .card {
  background-color: var(--bg-color);
  border: none;
}

.skills .card .card-img-top {
  margin: 5%;
  width: 80%;
}

.card .row {
  min-height: 400px;
  align-items: center;
  padding: 2%;
}

button i{
  font-size: 20px;
}

.skills .carousel-inner{
  padding: 5rem 3rem;
}

.card{
  min-height: 300px
}


.skills.card .row{
  min-height: 300px;
  align-items: center;
  padding: 2%;
}

button i{
  font-size: 20px;
}

/*----------------------------------- Projects -----------------------------------*/
.projects, .projects-page {
  padding: 1rem 3rem 5rem;
}

.projects h5, .projects-page h5 {
  font-weight: 700;
}

.projects-text{
  padding-top: 7.5rem;
}

.projects h6, .projects-page h6 {
  font-weight: 500;
}

.projects .row, .projects-page .row{
  width: 100%;
}

.projects-container{
  margin: 2%;
  min-height: 600px;
  border-radius: 25px;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
  margin-bottom: 2rem;
  padding: 1%;
}

.projects-text {
  padding-top: 7.5rem;
}

.projects .extension, .projects-page .extension{
  background-color: var(--accent-color-2);
  padding: 16px 40px;
  border-radius: 32px;
  color: black;
  margin: 2% 0 2% 0;
}

.projects .extension:hover, .projects-page .extension:hover{
  background-color: var(--brand-color);
  color: white;
  transition: ease-in .5s;
}

.projects .card-body .project-stack, .projects-page .card-body .project-stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.projects .card-body .project-stack p, .projects-page .card-body .project-stack p {
  color: black !important;
  font-weight: 600 !important;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
  padding: 0.5rem 0.65rem;
}

.projects .card-body a, .projects-page .card-body a {
  color: black;
}

.projects .card-body a:hover, .projects-page .card-body a:hover {
  color: var(--brand-color);
  font-weight: 600;
  transition: ease-in;
}

a:link {
  text-decoration: none
}
/*----------------------------------- Testimonials -----------------------------------*/

.testimonials {
  padding: 1rem 5rem 5rem;
}

.testimonials h5 {
  font-weight: 700;
}

.testimonials-text {
  padding-top: 7.5rem;
}

.testimonials .row {
  margin-top: 1.875rem;
  margin-bottom: 3rem;
}

.testimonials .col-md-4 {
  margin: 1rem auto 1rem auto;
}

.testimonials .profile {
  background-color: white;
  min-height: 525px;
  max-height: 525px;
  overflow: hidden;
  padding: 5%;
  border-radius: 25px;
}

.testimonials .user {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
}

.testimonials span {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: .938rem;
  color: var(--brand-color);
}

.testimonials blockquote {
  line-height: 30px;
}

.testimonials blockquote::before {
  content: '\201C';
  font-size: 50px;
  position: relative;
  color: var(--brand-color);
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

.testimonials blockquote::after {
  content: '\201D';
  font-size: 50px;
  position: relative;
  color: var(--brand-color);
  line-height: 20px;
  bottom: -15px;
  right: 5px;
}

.testimonials .profile:hover {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, .2);
  transition: .5s;
}

.testimonials .profile a:hover {
  cursor: pointer;
}

.testimonials .profile {
  position: relative;
}

.testimonials .profile .profile-info {
  bottom: 0;
  margin-bottom: 16px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

/*----------------------------------- Contact -----------------------------------*/

.contact {
  padding: 3rem 7rem;
}

.contact .col-lg-6, .contact .col-lg-12 {
  padding: 1rem 3rem;
}

.contact h5 {
  font-weight: 700;
}

.contact-text {
  padding-top: 7.5rem;
  padding: 7rem;
  text-align: center;
}
